.btn {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    padding: .8rem 1.2rem;
    line-height: 2.2rem;
    margin-bottom: 0;
    font-size: 1.6rem;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    position: relative;
    border: solid .1rem;
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.08);
    border-left-color: rgba(0, 0, 0, 0.08);
    border-radius: .3rem;
    text-decoration: none;
    vertical-align: middle;
    //box-shadow: 0 .1rem .1rem rgba(0, 0, 0, 0.08);
    svg {
        width: 2.2rem;
        height: 2.2rem;
        display: inline-block;
        vertical-align: top;
        margin: 0 .4rem;
        fill: #fff;
    }
    &--large {
        padding: .8rem 1.6rem;
    }
    &--block {
        display: block;
        width: 100%;
    }
    &--facebook {
        background: #3b5998;
        background-image: linear-gradient(to bottom, lighten(#3b5998, 8%) 0%, #3b5998 100%);
        color: #fff !important;
        border-top-color: lighten(#3b5998, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    }
    &--google {
        background: #dd4b39;
        color: #fff !important;
        background-image: linear-gradient(to bottom, lighten(#dd4b39, 8%) 0%, #dd4b39 100%);
        border-top-color: lighten(#dd4b39, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    }



    &--twitter {
        background: #55acee;
        color: #fff !important;
        background-image: linear-gradient(to bottom, lighten(#55acee, 8%) 0%, #55acee 100%);
        border-top-color: lighten(#55acee, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    }

    &--naver {
        background: #21B010;
        color: #fff !important;
        background-image: linear-gradient(to bottom, lighten(#21B010, 8%) 0%, #21B010 100%);
        border-top-color: lighten(#21B010, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    }

    &--whatsapp {
        background: #4dc247;
        color: #fff !important;
        background-image: linear-gradient(to bottom, lighten(#4dc247, 8%) 0%, #4dc247 100%);
        border-top-color: lighten(#4dc247, 6%);
        text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    }

    &.disabled,
    &:disabled {
        opacity: .72;
        cursor: not-allowed;
        pointer-events: none;
    }
}

.btn:hover,
.btn:focus {
    position: relative;
    outline: 0;
    text-decoration: none;
}

// .btn:active {
//     box-shadow: inset 0 0.2rem 0.3rem rgba(0, 0, 0, 0.1);
// }

.btn--line {
    background: #fff;
    box-shadow: none !important;
    border: solid .1rem #d6d6d6;
    color: #dc5555;
}

.btn--link {
    background: rgba(0, 0, 0, 0);
    box-shadow: none !important;
    border: 0 !important;
    &:hover, &:focus {
        text-decoration: underline;
    }
}

.btn--default {
    color: #4a4a4a;
    text-shadow: .1rem .1rem rgba(255, 255, 255, .32);
    background:#d6d6d6;
    background-image: linear-gradient(to bottom, lighten(#D6D6D6, 8%) 0%, #D6D6D6 100%);
    border-bottom-color: rgba(0, 0, 0, 0.16);
    border-top-color: lighten(#d6d6d6, 6%);
}

.btn--red {
    text-shadow: -0.1rem -0.1rem rgba(0, 0, 0, 0.08);
    background: #D73C3C;
    background-image: linear-gradient(to bottom, lighten(#D73C3C, 8%) 0%, #D73C3C 100%);
    border-bottom-color: rgba(0, 0, 0, 0.12);
    border-right-color: rgba(0, 0, 0, 0.08);
    border-left-color: rgba(0, 0, 0, 0.08);
    border-top-color: lighten(#D73C3C, 6%);
    color: #fff;
}

.btn--medium {
    padding: .3rem 1.2rem;
    line-height: 2.4rem;
    font-size: 1.4rem;
    border-radius: .2rem;
    font-weight: 500;
}

.btn--small {
    padding: .7rem 1.2rem;
    line-height: 1.6rem;
    font-size: 1.2rem;
    border-radius: .2rem;
    font-weight: 500;

    svg {
        width: 1.6rem;
        height: 1.6rem;
        margin:0 .2rem;
    }
}

.btn-group {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
}

.btn-group .btn {
    border-radius: 0;
    margin: 0;
    float: left;
    margin-left: -.1rem !important;
}

.btn-group .btn:first-of-type {
    border-radius: .3rem 0 0 .3rem;
}

.btn-group .btn:last-of-type {
    border-radius: 0 .3rem .3rem 0;
}

.btn-group .btn:hover,
.btn-group .btn:focus {
    position: relative;
    z-index: 1;
}

.btn-group .btn--small:first-of-type {
    border-radius: .3rem 0 0 .3rem;
}

.btn-group .btn--small:last-of-type {
    border-radius: 0 .3rem .3rem 0;
}

.btn-group + .btn-group {
    margin-left: .2rem;
}

.btn-group + .btn {
    margin-left: .2rem;
}