/**
 * Clearfix helper
 * Used to contain floats: h5bp.com/q
 */

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
/**
 * Grid helper
 */

.row {
    @extend .clearfix;
    margin: 0 -.6rem;
}

.col {
    float: left;
    padding: 0 .6rem;
}

.col {
    &--2a {
        width: 20%
    }
    &--12 {
        width: 100%
    }
    &--11 {
        width: 91.66666666666666%
    }
    &--10 {
        width: 83.33333333333334%
    }
    &--9 {
        width: 75%
    }
    &--8 {
        width: 66.66666666666666%
    }
    &--7 {
        width: 58.333333333333336%
    }
    &--6 {
        width: 50%
    }
    &--5 {
        width: 41.66666666666667%
    }
    &--4 {
        width: 33.33333333333333%
    }
    &--3 {
        width: 25%
    }
    &--2 {
        width: 16.666666666666664%
    }
    &--1 {
        width: 8.333333333333332%
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.container {
    @extend .clearfix;
    width: 100%;
    max-width: 50.4rem;
    margin: 0 auto;
    position: relative;
    padding: 0 1.2rem;
}

